<div class="email-confirmation-container">
    <div class="confirmation-card">
        <img
            [src]="environment.brandLogo"
            [alt]="environment.brandDisplayName"
            class="logo"
        >

        <div
            class="content"
            *ngIf="!isVerified"
        >
            <h1>
                {{ 'emailConfirmation.error' | translate }}
            </h1>
            <p>
                {{ error || ('emailConfirmation.errorMessage' | translate) }}
            </p>

            <div class="actions">
                <button
                    appearance="primary"
                    tuiButton
                    size="l"
                    (click)="goToLogin()"
                >
                    {{ 'emailConfirmation.tryAgain' | translate }}
                </button>
            </div>
        </div>

        <div
            class="content"
            *ngIf="isVerified"
        >
            <h1>
                {{ 'emailConfirmation.redirecting' | translate }}
            </h1>
            <p>
                {{ 'emailConfirmation.redirectingMessage' | translate }}
            </p>
        </div>
    </div>
</div>
