<div class="settings-container">
  <div class="settings-header">

    <user-avatar [size]="'l'" [user]="userInfo.user"></user-avatar>

    <div class="user-info">
      <span class="name">{{ userInfo.firstName }} {{ userInfo.lastName }}</span>
      <span class="username">&#64;{{ userInfo.username }}</span>
    </div>

    <nav class="settings-menu-phone">
      <button
        appearance="primary"
        iconStart="@tui.menu"
        tuiDropdownOpen
        tuiIconButton
        type="button"
        [tuiDropdown]="menu"
      >
        {{ 'settings.more' | translate }}
        <ng-template #menu>
          <tui-data-list>
            <a
              routerLink="/hub/settings/profile"
              class="dropdown"
              tuiOption
            >
              <tui-icon icon="@tui.user" [style.width.px]="16" />
              {{ 'settings.profile' | translate }}
            </a>
            <a
              routerLink="/hub/settings/properties"
              class="dropdown"
              tuiOption
            >
              <tui-icon icon="@tui.home" [style.width.px]="16" />
              {{ 'settings.properties' | translate }}
            </a>
            <a
              routerLink="/hub/settings/units"
              class="dropdown"
              tuiOption
            >
              <tui-icon icon="@tui.home" [style.width.px]="16" />
              {{ 'settings.units.label' | translate }}
            </a>
          </tui-data-list>
        </ng-template>
      </button>
    </nav>
  </div>

  <div class="settings-body">
    <nav class="settings-menu">
      <ul>
        <li>
          <a routerLink="/hub/settings/profile" routerLinkActive="active">
            <tui-icon icon="@tui.user" [style.width.px]="16" />
            {{ 'settings.profile' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/hub/settings/properties" routerLinkActive="active">
            <tui-icon icon="@tui.home" [style.width.px]="16" />
            {{ 'settings.properties' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/hub/settings/notifications" routerLinkActive="active">
            <tui-icon icon="@tui.bell" [style.width.px]="16" />
            {{ 'settings.notifications' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/hub/settings/units" routerLinkActive="active">
            <tui-icon icon="@tui.home" [style.width.px]="16" />
            {{ 'settings.units.label' | translate }}
          </a>
        </li>
      </ul>
    </nav>

    <!-- Main content area -->
    <div class="settings-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
