openapi: 3.0.1
info:
  title: portal NeoHoods API
  version: "2.0"
  description: |
    # Summary
    portal NeoHoods API

servers:
  - url: https://portal.neohoods.com
    description: portal neohoods API

paths:
  /public/auth/login:
    post:
      operationId: login
      summary: Log user with username / password
      tags:
        - auth-api

      security:
        - BearerAuthOAuth: []

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "my-login"
                password:
                  type: string
                  example: "my-password"
              required:
                - username
                - password

      responses:
        "200":
          $ref: "#/components/responses/OK_200_LOGIN"

  /public/auth/signup:
    post:
      operationId: signUp
      summary: Register a new user
      tags:
        - auth-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "newuser"
                firstName:
                  type: string
                  example: "John"
                lastName:
                  type: string
                  example: "Doe"
                email:
                  type: string
                  example: "newuser@example.com"
                type:
                  $ref: "#/components/schemas/UserType"
                password:
                  type: string
                  example: "securepassword"

              required:
                - username
                - firstName
                - lastName
                - email
                - type
                - password
      responses:
        "201":
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignUp201Response"
        "400":
          $ref: "#/components/responses/BadRequest"

  /public/auth/signout:
    post:
      operationId: signOut
      summary: Sign out the current user
      tags:
        - auth-api
      responses:
        "204":
          description: User signed out successfully

  /public/auth/reset-password:
    post:
      operationId: resetPassword
      summary: Reset password for a user
      tags:
        - auth-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: "user@example.com"
              required:
                - email
      responses:
        "200":
          description: Password reset email sent
        "404":
          $ref: "#/components/responses/NotFound"

  /public/auth/reset-password/confirm:
    post:
      operationId: confirmResetPassword
      summary: Confirm password reset with token
      tags:
        - auth-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  example: "reset-token-123"
                newPassword:
                  type: string
                  example: "newSecurePassword"
              required:
                - token
                - newPassword
      responses:
        "200":
          description: Password reset successfully
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /public/auth/email-verification:
    post:
      operationId: verifyEmail
      summary: Verify user's email with token
      tags:
        - auth-api
      parameters:
        - name: token
          in: query
          description: Email verification token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Email verification response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - message
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Email verified successfully"
        "400":
          $ref: "#/components/responses/BadRequest"

  /hub/hello-world:
    get:
      operationId: getHelloWorld
      summary: hello world
      tags:
        - hello-world-api

      security:
        - BearerAuthOAuth: []

      responses:
        "200":
          $ref: "#/components/responses/OK_200_GET_HELLO_WORLD"

  /hub/profile:
    get:
      operationId: getProfile
      summary: Get the current user's profile
      tags:
        - profile-hub-api
      responses:
        "200":
          description: get profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "404":
          description: User not found
    put:
      operationId: updateProfile
      summary: Update the current user's profile
      tags:
        - profile-hub-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          description: User profile updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Invalid input
        "404":
          description: User not found

  /hub/users:
    get:
      operationId: getHubUsers
      summary: Retrieve all users (for hub users)
      tags:
        - users-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: A list of users (basic information only)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserBasic"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /hub/announcements:
    post:
      operationId: createAnnouncement
      summary: Create a new announcement
      tags:
        - announcements-hub-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: "New Announcement"
                content:
                  type: string
                  example: "This is the content of the announcement."
                category:
                  $ref: "#/components/schemas/AnnouncementCategory"
              required:
                - title
                - content
                - category
      responses:
        "201":
          description: Announcement created successfully

    get:
      operationId: getAnnouncements
      summary: Retrieve all announcements
      tags:
        - announcements-hub-api
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 0
        - name: pageSize
          in: query
          description: Number of announcements per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: A paginated list of announcements
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAnnouncementsResponse"

  /hub/announcements/{announcement-id}:
    parameters:
      - name: announcement-id
        in: path
        description: Announcement ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getAnnouncement
      summary: Retrieve a specific announcement by ID
      tags:
        - announcements-hub-api
      responses:
        "200":
          description: A single announcement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Announcement"

    put:
      operationId: updateAnnouncement
      summary: Update an existing announcement
      tags:
        - announcements-hub-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: "Updated Announcement"
                content:
                  type: string
                  example: "This is the updated content of the announcement."
              required:
                - title
                - content
      responses:
        "200":
          description: Announcement updated successfully

    delete:
      operationId: deleteAnnouncement
      summary: Delete an announcement
      tags:
        - announcements-hub-api
      responses:
        "204":
          description: Announcement deleted successfully

  /hub/infos:
    put:
      operationId: updateInfos
      summary: Update infos
      tags:
        - infos-hub-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Info"
      responses:
        "200":
          description: Infos updated successfully

    get:
      operationId: getInfos
      summary: Retrieve all infos
      tags:
        - infos-hub-api
      responses:
        "200":
          description: A list of infos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Info"

  /hub/applications:
    post:
      operationId: createApplication
      summary: Create a new application
      tags:
        - applications-hub-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Application"
      responses:
        "201":
          description: App created successfully

    get:
      operationId: getApplications
      summary: Retrieve all applications
      tags:
        - applications-hub-api
      responses:
        "200":
          description: A list of applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Application"

  /hub/applications/{application-id}:
    parameters:
      - name: application-id
        in: path
        description: Application ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getApplication
      summary: Retrieve a specific application by ID
      tags:
        - applications-hub-api
      responses:
        "200":
          description: A single application
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Application"

    put:
      operationId: updateApplication
      summary: Update an existing application
      tags:
        - applications-hub-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Application"
      responses:
        "200":
          description: Application updated successfully

    delete:
      operationId: deleteApplication
      summary: Delete an application
      tags:
        - applications-hub-api
      responses:
        "204":
          description: Application deleted successfully

  /hub/units:
    get:
      operationId: getUnits
      summary: List units for current user
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: List of units
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Unit"

  /hub/units/directory:
    get:
      operationId: getUnitsDirectory
      summary: Get paginated directory of units with filters
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      parameters:
        - name: page
          in: query
          description: Page number (0-indexed)
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          description: Page size
          schema:
            type: integer
            default: 20
        - name: type
          in: query
          description: Filter by unit type
          schema:
            $ref: "#/components/schemas/UnitType"
        - name: search
          in: query
          description: Search by unit name
          schema:
            type: string
        - name: userId
          in: query
          description: Filter by user membership
          schema:
            type: string
            format: uuid
        - name: onlyOccupied
          in: query
          description: Filter to show only units with at least one member
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Paginated list of units
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedUnits"

  /hub/units/{unit-id}:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getUnit
      summary: Get unit details
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: Unit details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/{unit-id}/reservations:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getUnitReservations
      summary: Get reservations for a unit
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      parameters:
        - name: page
          in: query
          description: Page number (0-indexed)
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          description: Page size
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Paginated list of reservations for the unit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedReservations"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/{unit-id}/calendar.ics:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getUnitCalendar
      summary: Get ICS calendar for unit reservations
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: ICS calendar file
          content:
            text/calendar:
              schema:
                type: string
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/{unit-id}/invite:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: inviteUser
      summary: Invite user to unit
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteUserRequest"
      responses:
        "200":
          description: Invitation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitInvitation"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/{unit-id}/members/{user-id}/approve:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: approveInvitation
      summary: Approve pending invitation
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: Invitation approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitMember"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/{unit-id}/members/{user-id}/revoke:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: revokeMember
      summary: Remove member from unit
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "204":
          description: Member removed
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/{unit-id}/members/{user-id}/promote-admin:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: promoteAdmin
      summary: Promote member to admin
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: Member promoted to admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitMember"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/{unit-id}/members/{user-id}/demote-admin:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: demoteAdmin
      summary: Remove admin rights from member
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: Admin rights removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitMember"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/users/{user-id}/related-parking-garages:
    parameters:
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getRelatedParkingGarages
      summary: Get related parking and garages for a user
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: List of related parking and garage units
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Unit"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/invitations/{invitation-id}/accept:
    parameters:
      - name: invitation-id
        in: path
        description: Invitation ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: acceptInvitation
      summary: Accept invitation
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: Invitation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitMember"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/invitations/{invitation-id}/reject:
    parameters:
      - name: invitation-id
        in: path
        description: Invitation ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: rejectInvitation
      summary: Reject invitation
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "204":
          description: Invitation rejected
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/{unit-id}/join-request:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: createJoinRequest
      summary: Create a join request for a unit
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateJoinRequestRequest"
      responses:
        "200":
          description: Join request created (or user added directly if unit is empty)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitJoinRequest"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/{unit-id}/join-requests:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getJoinRequests
      summary: Get pending join requests for a unit (admin only)
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: List of pending join requests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnitJoinRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/join-requests/{request-id}/approve:
    parameters:
      - name: request-id
        in: path
        description: Join request ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: approveJoinRequest
      summary: Approve a join request (admin of unit only)
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: Join request approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitMember"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/join-requests/{request-id}/reject:
    parameters:
      - name: request-id
        in: path
        description: Join request ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: rejectJoinRequest
      summary: Reject a join request (admin of unit only)
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "204":
          description: Join request rejected
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/units/my-join-requests:
    get:
      operationId: getMyJoinRequests
      summary: Get pending join requests for the current user
      tags:
        - units-hub-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: List of pending join requests for the current user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnitJoinRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/units/join-requests:
    get:
      operationId: getAllJoinRequests
      summary: Get all pending join requests (admin global only)
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: List of all pending join requests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnitJoinRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/units/join-requests/{request-id}/approve:
    parameters:
      - name: request-id
        in: path
        description: Join request ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: approveJoinRequestAdmin
      summary: Approve a join request (admin global can approve any request)
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: Join request approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitMember"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/units/join-requests/{request-id}/reject:
    parameters:
      - name: request-id
        in: path
        description: Join request ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: rejectJoinRequestAdmin
      summary: Reject a join request (admin global can reject any request)
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      responses:
        "204":
          description: Join request rejected
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /hub/custom-pages/:
    get:
      operationId: getCustomPageRefs
      summary: Retrieve all custom page references
      tags:
        - custom-pages-hub-api
      responses:
        "200":
          description: A list of custom page references with position and title
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ref:
                      type: string
                    position:
                      type: string
                      enum: ["footer-links", "copyright", "footer-help"]
                    title:
                      type: string

  /hub/custom-pages/{page-ref}:
    parameters:
      - name: page-ref
        in: path
        description: Reference of the custom page
        required: true
        schema:
          type: string
    get:
      operationId: getCustomPage
      summary: Retrieve a custom page by reference
      tags:
        - custom-pages-hub-api
      responses:
        "200":
          description: A single custom page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomPage"
        "404":
          description: Custom page not found

  /admin/custom-pages:
    get:
      operationId: getAdminCustomPages
      summary: Retrieve all custom pages
      tags:
        - custom-pages-admin-api
      responses:
        "200":
          description: A list of custom pages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustomPage"

    post:
      operationId: createCustomPage
      summary: Create a new custom page
      tags:
        - custom-pages-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomPage"
      responses:
        "201":
          description: Custom page created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomPage"

  /admin/custom-pages/{page-ref}:
    parameters:
      - name: page-ref
        in: path
        description: Reference of the custom page
        required: true
        schema:
          type: string
    get:
      operationId: getAdminCustomPage
      summary: Retrieve a specific custom page by reference
      tags:
        - custom-pages-admin-api
      responses:
        "200":
          description: A single custom page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomPage"
        "404":
          description: Custom page not found

    put:
      operationId: updateCustomPage
      summary: Update a custom page
      tags:
        - custom-pages-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomPage"
      responses:
        "200":
          description: Custom page updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomPage"
        "404":
          description: Custom page not found

    delete:
      operationId: deleteCustomPage
      summary: Delete a custom page
      tags:
        - custom-pages-admin-api
      responses:
        "204":
          description: Custom page deleted successfully
        "404":
          description: Custom page not found

  /admin/units:
    get:
      operationId: getAdminUnits
      summary: List all units
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      parameters:
        - name: page
          in: query
          description: Page number (0-indexed)
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          description: Page size
          schema:
            type: integer
            default: 20
        - name: search
          in: query
          description: Search by unit name
          schema:
            type: string
      responses:
        "200":
          description: Paginated list of units
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedUnits"
    post:
      operationId: createUnit
      summary: Create unit
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnitRequest"
      responses:
        "201":
          description: Unit created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"

  /admin/units/{unit-id}:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getAdminUnit
      summary: Get unit details
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: Unit details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: updateUnit
      summary: Update unit
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnitRequest"
      responses:
        "200":
          description: Unit updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteUnit
      summary: Delete unit
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      responses:
        "204":
          description: Unit deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/units/{unit-id}/members:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: addMember
      summary: Add member to unit
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteUserRequest"
      responses:
        "200":
          description: Member added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitMember"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/units/{unit-id}/members/{user-id}/revoke:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: revokeAdminMember
      summary: Remove member from unit
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      responses:
        "204":
          description: Member removed
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/units/{unit-id}/members/{user-id}/promote-admin:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: promoteAdminMember
      summary: Promote member to admin
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: Member promoted to admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitMember"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/units/{unit-id}/members/{user-id}/demote-admin:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: demoteAdminMember
      summary: Remove admin rights from member
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      responses:
        "200":
          description: Admin rights removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitMember"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/units/{unit-id}/members/{user-id}/set-primary:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: setPrimaryUnitForMember
      summary: Set this unit as the primary unit for the user
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      responses:
        "204":
          description: Primary unit set successfully
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/units/{unit-id}/members/{user-id}/residence-role:
    parameters:
      - name: unit-id
        in: path
        description: Unit ID
        required: true
        schema:
          type: string
          format: uuid
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: updateMemberResidenceRole
      summary: Update member residence role
      tags:
        - units-admin-api
      security:
        - BearerAuthOAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMemberResidenceRoleRequest"
      responses:
        "200":
          description: Member residence role updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitMember"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/help/categories:
    get:
      operationId: getAdminHelpCategories
      summary: Retrieve all help categories
      tags:
        - help-admin-api
      responses:
        "200":
          description: A list of help categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HelpCategory"
    post:
      operationId: createHelpCategory
      summary: Create a new help category
      tags:
        - help-admin-api
      requestBody:
        description: The category to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HelpCategory"
      responses:
        "201":
          description: Help category created successfully
    delete:
      operationId: deleteHelpCategory
      summary: Delete a help category
      tags:
        - help-admin-api
      parameters:
        - name: categoryId
          in: query
          description: The ID of the category to delete
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Help category deleted successfully
    put:
      operationId: updateHelpCategory
      summary: Update a help category
      tags:
        - help-admin-api
      parameters:
        - name: categoryId
          in: query
          description: The ID of the category to update
          required: true
          schema:
            type: string
      requestBody:
        description: The updated category data
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HelpCategory"
      responses:
        "200":
          description: Help category updated successfully

  /admin/help/articles:
    get:
      operationId: getAdminHelpArticles
      summary: Retrieve help articles by category ID
      tags:
        - help-admin-api
      parameters:
        - name: categoryId
          in: query
          description: The ID of the category to filter articles
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A list of help articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HelpArticle"
    post:
      operationId: createHelpArticle
      summary: Create a new help article
      tags:
        - help-admin-api
      requestBody:
        description: The article to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HelpArticle"
      responses:
        "201":
          description: Help article created successfully
    delete:
      operationId: deleteHelpArticle
      summary: Delete a help article
      tags:
        - help-admin-api
      parameters:
        - name: articleId
          in: query
          description: The ID of the article to delete
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Help article deleted successfully
    put:
      operationId: updateHelpArticle
      summary: Update a help article
      tags:
        - help-admin-api
      parameters:
        - name: articleId
          in: query
          description: The ID of the article to update
          required: true
          schema:
            type: string
      requestBody:
        description: The updated article data
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HelpArticle"
      responses:
        "200":
          description: Help article updated successfully

  /hub/help/categories:
    get:
      operationId: getHelpCategories
      summary: Retrieve all help categories
      tags:
        - help-api
      responses:
        "200":
          description: A list of help categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HelpCategory"

  /hub/help/articles:
    get:
      operationId: getHelpArticles
      summary: Retrieve help articles by category ID
      tags:
        - help-api
      parameters:
        - name: categoryId
          in: query
          description: The ID of the category to filter articles
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A list of help articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HelpArticle"

  /admin/users/batch:
    post:
      operationId: getUsersByIds
      summary: Retrieve multiple users by their IDs
      tags:
        - users-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userIds:
                  type: array
                  items:
                    type: string
                    format: uuid
              required:
                - userIds
      responses:
        "200":
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
  /admin/users:
    get:
      operationId: getUsers
      summary: Retrieve all users
      tags:
        - users-admin-api
      responses:
        "200":
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
    post:
      operationId: saveUser
      summary: Save a user
      tags:
        - users-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "201":
          description: User saved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

  /admin/users/{user-id}:
    parameters:
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getUser
      summary: Retrieve a specific user by ID
      tags:
        - users-admin-api
      responses:
        "200":
          description: A single user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
    delete:
      operationId: deleteUser
      summary: Delete a user
      tags:
        - users-admin-api
      responses:
        "204":
          description: User deleted successfully
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/users/{user-id}/password:
    parameters:
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: setUserPassword
      summary: Set a user's password
      tags:
        - users-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                newPassword:
                  type: string
                  example: "newSecurePassword"
              required:
                - newPassword
      responses:
        "204":
          description: Password updated successfully

  /admin/settings/security:
    get:
      operationId: getSecuritySettings
      summary: Retrieve security settings
      tags:
        - settings-admin-api
      responses:
        "200":
          description: Security settings retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  isRegistrationEnabled:
                    type: boolean
                    example: true
                  ssoEnabled:
                    type: boolean
                    example: false
                  ssoClientId:
                    type: string
                    example: "my-client-id"
                  ssoClientSecret:
                    type: string
                    example: "my-client-secret"
                  ssoTokenEndpoint:
                    type: string
                    example: "https://openid.example.com/token"
                  ssoAuthorizationEndpoint:
                    type: string
                    example: "https://openid.example.com/authorize"
                  ssoScope:
                    type: string
                    example: "openid profile email"
    post:
      operationId: saveSecuritySettings
      summary: Save security settings
      tags:
        - settings-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isRegistrationEnabled:
                  type: boolean
                  example: false
                ssoEnabled:
                  type: boolean
                  example: false
                ssoClientId:
                  type: string
                  example: "my-client-id"
                ssoClientSecret:
                  type: string
                  example: "my-client-secret"
                ssoTokenEndpoint:
                  type: string
                  example: "https://openid.example.com/token"
                ssoAuthorizationEndpoint:
                  type: string
                  example: "https://openid.example.com/authorize"
                ssoScope:
                  type: string
                  example: "openid profile email"
      responses:
        "200":
          description: Security settings saved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  isRegistrationEnabled:
                    type: boolean
                    example: false
                  ssoEnabled:
                    type: boolean
                    example: false
                  ssoClientId:
                    type: string
                    example: "my-client-id"
                  ssoClientSecret:
                    type: string
                    example: "my-client-secret"
                  ssoTokenEndpoint:
                    type: string
                    example: "https://openid.example.com/token"
                  ssoAuthorizationEndpoint:
                    type: string
                    example: "https://openid.example.com/authorize"
                  ssoScope:
                    type: string
                    example: "openid profile email"

  /admin/settings/spaces:
    get:
      operationId: getSpaceSettings
      summary: Retrieve space settings
      tags:
        - space-settings-admin-api
      responses:
        "200":
          description: Space settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformFeeSettings"
    post:
      operationId: saveSpaceSettings
      summary: Save space settings
      tags:
        - space-settings-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformFeeSettings"
      responses:
        "200":
          description: Space settings saved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformFeeSettings"

  /public/settings:
    get:
      operationId: getPublicSettings
      summary: Retrieve public UI settings
      tags:
        - settings-public-api
      responses:
        "200":
          description: Public UI settings retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  isRegistrationEnabled:
                    type: boolean
                    example: true
                  ssoEnabled:
                    type: boolean
                    example: false

  /public/sso/login-url:
    post:
      operationId: generateSSOLoginUrl
      summary: Generate the SSO login URL
      tags:
        - sso-public-api
      responses:
        "200":
          description: SSO login URL generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  loginUrl:
                    type: string
                    example: true

  /public/sso/token-exchange:
    post:
      operationId: exchangeSSOToken
      summary: Exchange the SSO token for a JWT token
      tags:
        - sso-public-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: string
                authorizationCode:
                  type: string
              required:
                - state
                - authorizationCode
      responses:
        "200":
          description: SSO token exchanged successfully

  /debug/notifications:
    post:
      operationId: debugPostNotification
      summary: Debug endpoint to create a notification for a specific user
      tags:
        - debug-api
      security:
        - BearerAuthOAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - notification
              properties:
                locale:
                  type: string
                  example: "en"
                  description: The locale of the notification
                userId:
                  type: string
                  format: uuid
                  description: The ID of the user to send the notification to
                notification:
                  $ref: "#/components/schemas/Notification"
                  description: The notification to send
      responses:
        "201":
          description: Notification created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
        "404":
          description: User not found
        "400":
          description: Invalid notification payload

  /hub/notifications:
    get:
      operationId: getNotifications
      summary: Retrieve all notifications
      tags:
        - notifications-hub-api
      responses:
        "200":
          description: A list of notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Notification"

  /hub/notifications/unread-count:
    get:
      operationId: getUnreadNotificationsCount
      summary: Retrieve the count of unread notifications
      tags:
        - notifications-hub-api
      responses:
        "200":
          description: Count of unread notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 5

  /hub/notifications/acknowledge:
    post:
      operationId: acknowledgeNotifications
      summary: Acknowledge notifications as read
      tags:
        - notifications-hub-api
      requestBody:
        description: List of notifications to acknowledge
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Notification"
      responses:
        "204":
          description: Notifications acknowledged successfully

  /hub/notifications-settings:
    get:
      operationId: getNotificationSettings
      summary: Get the current user's notification settings
      tags:
        - notifications-hub-api
      responses:
        "200":
          description: Notification settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationSettings"
        "401":
          description: Unauthorized
    put:
      operationId: updateNotificationSettings
      summary: Update the current user's notification settings
      tags:
        - notifications-hub-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationSettings"
      responses:
        "200":
          description: Notification settings updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationSettings"
        "400":
          description: Invalid input
        "401":
          description: Unauthorized

  /admin/newsletters:
    get:
      operationId: getNewsletters
      summary: Retrieve all newsletters
      tags:
        - newsletters-admin-api
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 0
        - name: pageSize
          in: query
          description: Number of newsletters per page
          required: false
          schema:
            type: integer
            default: 10
        - name: status
          in: query
          description: Filter by newsletter status
          required: false
          schema:
            $ref: "#/components/schemas/NewsletterStatus"
      responses:
        "200":
          description: A paginated list of newsletters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedNewslettersResponse"
    post:
      operationId: createNewsletter
      summary: Create a new newsletter
      tags:
        - newsletters-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewsletterRequest"
      responses:
        "201":
          description: Newsletter created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Newsletter"
        "400":
          $ref: "#/components/responses/BadRequest"

  /admin/newsletters/{newsletter-id}:
    parameters:
      - name: newsletter-id
        in: path
        description: Newsletter ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getNewsletter
      summary: Retrieve a specific newsletter by ID
      tags:
        - newsletters-admin-api
      responses:
        "200":
          description: A single newsletter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Newsletter"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: updateNewsletter
      summary: Update an existing newsletter
      tags:
        - newsletters-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewsletterRequest"
      responses:
        "200":
          description: Newsletter updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Newsletter"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteNewsletter
      summary: Delete a newsletter
      tags:
        - newsletters-admin-api
      responses:
        "204":
          description: Newsletter deleted successfully
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/newsletters/{newsletter-id}/test:
    parameters:
      - name: newsletter-id
        in: path
        description: Newsletter ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: testNewsletter
      summary: Send a test newsletter to the current admin user
      tags:
        - newsletters-admin-api
      responses:
        "200":
          description: Test newsletter sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Test newsletter sent successfully"
                  sentTo:
                    type: string
                    example: "admin@example.com"
        "404":
          $ref: "#/components/responses/NotFound"
        "400":
          $ref: "#/components/responses/BadRequest"

  /admin/newsletters/{newsletter-id}/send:
    parameters:
      - name: newsletter-id
        in: path
        description: Newsletter ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: sendNewsletter
      summary: Send newsletter immediately or schedule it
      tags:
        - newsletters-admin-api
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduledAt:
                  type: string
                  format: date-time
                  description: Optional scheduled send time. If not provided, sends immediately
                  example: "2024-01-15T10:00:00Z"
      responses:
        "200":
          description: Newsletter sent or scheduled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Newsletter scheduled successfully"
                  scheduledAt:
                    type: string
                    format: date-time
                    example: "2024-01-15T10:00:00Z"
                  recipientCount:
                    type: integer
                    example: 150
        "404":
          $ref: "#/components/responses/NotFound"
        "400":
          $ref: "#/components/responses/BadRequest"

  /admin/newsletters/{newsletter-id}/cancel:
    parameters:
      - name: newsletter-id
        in: path
        description: Newsletter ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: cancelNewsletter
      summary: Cancel a scheduled newsletter
      tags:
        - newsletters-admin-api
      responses:
        "200":
          description: Newsletter cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Newsletter cancelled successfully"
        "404":
          $ref: "#/components/responses/NotFound"
        "400":
          description: Newsletter cannot be cancelled (already sent or not scheduled)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"

  /admin/newsletters/{newsletter-id}/logs:
    parameters:
      - name: newsletter-id
        in: path
        description: Newsletter ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getNewsletterLogs
      summary: Get audit logs for a newsletter (simple text logs)
      tags:
        - newsletters-admin-api
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 0
        - name: pageSize
          in: query
          description: Number of log entries per page
          required: false
          schema:
            type: integer
            default: 100
        - name: level
          in: query
          description: Filter by log level
          required: false
          schema:
            type: string
            enum: ["INFO", "WARN", "ERROR"]
      responses:
        "200":
          description: Newsletter audit logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewsletterLogsResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/email-templates:
    get:
      operationId: getEmailTemplates
      summary: Retrieve all email templates
      tags:
        - email-templates-admin-api
      parameters:
        - name: type
          in: query
          description: Filter by email template type
          required: false
          schema:
            $ref: "#/components/schemas/EmailTemplateType"
      responses:
        "200":
          description: A list of email templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EmailTemplate"
    post:
      operationId: createEmailTemplate
      summary: Create a new email template
      tags:
        - email-templates-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailTemplateRequest"
      responses:
        "201":
          description: Email template created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailTemplate"
        "400":
          $ref: "#/components/responses/BadRequest"

  /admin/email-templates/{template-id}:
    parameters:
      - name: template-id
        in: path
        description: Email template ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getEmailTemplate
      summary: Retrieve a specific email template by ID
      tags:
        - email-templates-admin-api
      responses:
        "200":
          description: A single email template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailTemplate"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: updateEmailTemplate
      summary: Update an existing email template
      tags:
        - email-templates-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailTemplateRequest"
      responses:
        "200":
          description: Email template updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailTemplate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteEmailTemplate
      summary: Delete an email template
      tags:
        - email-templates-admin-api
      responses:
        "204":
          description: Email template deleted successfully
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/email-templates/{template-id}/test:
    parameters:
      - name: template-id
        in: path
        description: Email template ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: testEmailTemplate
      summary: Send a test email using the template to the current admin user
      tags:
        - email-templates-admin-api
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                templateVariables:
                  type: object
                  additionalProperties: true
                  description: "Template variables to use for testing (e.g., username, verif_url, etc.)"
                  example:
                    username: "testuser"
                    verif_url: "https://portal.neohoods.com/email-confirmation?token=test123"
      responses:
        "200":
          description: Test email sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Test email sent successfully"
                  sentTo:
                    type: string
                    example: "admin@example.com"
        "404":
          $ref: "#/components/responses/NotFound"
        "400":
          $ref: "#/components/responses/BadRequest"

  # ========================================
  # SPACES & RESERVATIONS API
  # ========================================

  /spaces/spaces:
    get:
      operationId: getSpaces
      summary: Retrieve all available spaces
      tags:
        - spaces-api
      parameters:
        - name: type
          in: query
          description: Filter by space type
          required: false
          schema:
            $ref: "#/components/schemas/SpaceType"
        - name: available
          in: query
          description: Filter by availability
          required: false
          schema:
            type: boolean
        - name: startDate
          in: query
          description: Filter by start date
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: Filter by end date
          required: false
          schema:
            type: string
            format: date
        - name: search
          in: query
          description: Search query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (1-based)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 12
      responses:
        "200":
          description: A paginated list of spaces
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedSpaces"

  /spaces/spaces/{space-id}:
    parameters:
      - name: space-id
        in: path
        description: Space ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getSpace
      summary: Retrieve a specific space by ID
      tags:
        - spaces-api
      responses:
        "200":
          description: A single space
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Space"
        "404":
          $ref: "#/components/responses/NotFound"

  /spaces/spaces/{space-id}/shared-reservations:
    parameters:
      - name: space-id
        in: path
        description: Space ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getSharedSpaceReservations
      summary: Retrieve reservations of spaces that share the same physical space
      description: Returns all reservations from spaces that share the physical space with this space, useful for displaying in calendars
      tags:
        - spaces-api
      parameters:
        - name: startDate
          in: query
          description: Start date for filtering reservations
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: End date for filtering reservations
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: List of reservations from shared spaces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Reservation"
        "404":
          $ref: "#/components/responses/NotFound"

  /spaces/spaces/{space-id}/availability:
    parameters:
      - name: space-id
        in: path
        description: Space ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getSpaceAvailability
      summary: Check availability for a space in a date range
      tags:
        - spaces-api
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Availability information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailabilityResponse"

  /spaces/spaces/{space-id}/price-breakdown:
    parameters:
      - name: space-id
        in: path
        description: Space ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getPriceBreakdown
      summary: Get price breakdown for a space
      description: Calculate and return the complete price breakdown for a space for given dates. The breakdown includes unit price, number of days, subtotal, fees, and total price.
      tags:
        - spaces-api
      security:
        - BearerAuthOAuth: []
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date for the reservation
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date for the reservation (inclusive)
      responses:
        "200":
          description: Price breakdown calculated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceBreakdown"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /spaces/spaces/{space-id}/occupancy-calendar:
    parameters:
      - name: space-id
        in: path
        description: Space ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getSpaceOccupancyCalendar
      summary: Get occupancy calendar for a space (public endpoint)
      description: Returns occupancy calendar data for a space. Only includes reservationId if the reservation belongs to the current authenticated user.
      tags:
        - spaces-api
      security:
        - BearerAuthOAuth: []
      parameters:
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date for the calendar range (defaults to January 1st of current year)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date for the calendar range (defaults to December 31st of current year)
      responses:
        "200":
          description: Occupancy calendar data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceOccupancyCalendarResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /public/spaces/{space-id}/calendar.ics:
    parameters:
      - name: space-id
        in: path
        description: Space ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getSpaceCleaningCalendar
      summary: Get calendar feed for a space (iCalendar format)
      description: |
        Returns an iCalendar (.ics) feed for the space. Requires a valid JWT token for authentication.
        
        The `type` parameter determines the calendar content:
        - `cleaning`: Returns cleaning schedules based on reservation checkout dates
        - `reservation`: Returns reservation schedules. If userId is present in the JWT token, only that user's reservations are returned; otherwise all space reservations are returned.
      tags:
        - public-spaces-api
      parameters:
        - name: token
          in: query
          required: true
          description: JWT token for calendar access (must include type claim matching the type parameter)
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: Calendar type (cleaning or reservation)
          schema:
            type: string
            enum:
              - cleaning
              - reservation
            default: cleaning
      responses:
        "200":
          description: Calendar feed in iCalendar format
          content:
            text/calendar:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
          description: Invalid or expired token
        "404":
          $ref: "#/components/responses/NotFound"
          description: Space not found

  /public/users/{user-id}/calendar.ics:
    parameters:
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getUserCalendar
      summary: Get user's personal reservation calendar (iCalendar format)
      description: Returns an iCalendar (.ics) feed containing all reservations across all spaces for the specified user. Requires a valid JWT token where the userId claim matches the path parameter.
      tags:
        - public-users-api
      parameters:
        - name: token
          in: query
          required: true
          description: JWT token for calendar access (must include userId claim matching the user-id path parameter)
          schema:
            type: string
      responses:
        "200":
          description: Calendar feed in iCalendar format
          content:
            text/calendar:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
          description: Invalid or expired token, or userId mismatch
        "404":
          $ref: "#/components/responses/NotFound"
          description: User not found

  /spaces/reservations:
    get:
      operationId: getMyReservations
      summary: Retrieve current user's reservations
      tags:
        - reservations-api
      parameters:
        - name: status
          in: query
          description: Filter by reservation status
          required: false
          schema:
            $ref: "#/components/schemas/ReservationStatus"
        - name: spaceType
          in: query
          description: Filter by space type
          required: false
          schema:
            $ref: "#/components/schemas/SpaceType"
        - name: page
          in: query
          description: Page number (1-based)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        "200":
          description: A paginated list of user's reservations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedReservations"

    post:
      operationId: createReservation
      summary: Create a new reservation
      tags:
        - reservations-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReservationRequest"
      responses:
        "201":
          description: Reservation created with Stripe checkout session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateReservationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: Conflict - dates not available or quota exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"

  /spaces/reservations/{reservation-id}:
    parameters:
      - name: reservation-id
        in: path
        description: Reservation ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getReservation
      summary: Retrieve a specific reservation
      tags:
        - reservations-api
      responses:
        "200":
          description: A single reservation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: cancelReservation
      summary: Cancel a reservation
      tags:
        - reservations-api
      responses:
        "200":
          description: Reservation cancelled, refund initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  refundAmount:
                    type: number
                    format: float
        "404":
          $ref: "#/components/responses/NotFound"
        "400":
          description: Cannot cancel (too late or already completed)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"

  /spaces/reservations/{reservation-id}/feedback:
    parameters:
      - name: reservation-id
        in: path
        description: Reservation ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: submitReservationFeedback
      summary: Submit feedback after reservation completion
      tags:
        - reservations-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReservationFeedbackRequest"
      responses:
        "201":
          description: Feedback submitted successfully
        "404":
          $ref: "#/components/responses/NotFound"

  /spaces/reservations/{reservation-id}/payment:
    parameters:
      - name: reservation-id
        in: path
        description: Reservation ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: initiatePayment
      summary: Initiate payment for a reservation
      tags:
        - reservations-api
      responses:
        "200":
          description: Payment session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentSessionResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "400":
          description: Cannot initiate payment (reservation not in valid state)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodedError"

  /public/stripe/webhook:
    post:
      operationId: handleStripeWebhook
      summary: Handle Stripe webhook events
      tags:
        - stripe-webhook-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Stripe event payload
      responses:
        "200":
          description: Webhook processed successfully
        "400":
          description: Invalid webhook signature

  /public/reservations/{reservationId}/payment/confirm:
    post:
      operationId: confirmReservationPayment
      summary: Confirm reservation payment status
      tags:
        - reservations-api
      parameters:
        - name: reservationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionId:
                  type: string
                  description: Stripe checkout session ID
                  example: "cs_test_123456789"
                status:
                  type: string
                  enum: [success, cancelled]
                  description: Payment status from frontend
              required:
                - sessionId
                - status
      responses:
        "200":
          description: Payment status confirmed
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservationId:
                    type: string
                    format: uuid
                  status:
                    $ref: "#/components/schemas/ReservationStatus"
                  message:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/spaces:
    get:
      operationId: getAdminSpaces
      summary: Retrieve all spaces (admin)
      tags:
        - spaces-admin-api
      parameters:
        - name: type
          in: query
          description: Filter by space type
          required: false
          schema:
            $ref: "#/components/schemas/SpaceType"
        - name: status
          in: query
          description: Filter by space status
          required: false
          schema:
            $ref: "#/components/schemas/SpaceStatus"
        - name: search
          in: query
          description: Search query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (1-based)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: A paginated list of all spaces
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedSpaces"

    post:
      operationId: createSpace
      summary: Create a new space
      tags:
        - spaces-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpaceRequest"
      responses:
        "201":
          description: Space created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Space"

  /admin/spaces/{space-id}:
    parameters:
      - name: space-id
        in: path
        description: Space ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getAdminSpace
      summary: Retrieve a specific space (admin)
      tags:
        - spaces-admin-api
      responses:
        "200":
          description: A single space
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Space"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      operationId: updateSpace
      summary: Update a space
      tags:
        - spaces-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpaceRequest"
      responses:
        "200":
          description: Space updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Space"

    delete:
      operationId: deleteSpace
      summary: Delete a space
      tags:
        - spaces-admin-api
      responses:
        "204":
          description: Space deleted successfully

  /admin/spaces/settings:
    get:
      operationId: getSpacesSettings
      summary: Get all configurable space settings
      tags:
        - spaces-admin-api
      responses:
        "200":
          description: Space settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformFeeSettings"

    put:
      operationId: updateSpaceSettings
      summary: Update space settings
      tags:
        - spaces-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlatformFeeSettings"
      responses:
        "200":
          description: Settings updated successfully

  /admin/reservations:
    get:
      operationId: getAdminReservations
      summary: Retrieve all reservations (admin)
      tags:
        - reservations-admin-api
      parameters:
        - name: spaceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: userId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ReservationStatus"
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: spaceType
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SpaceType"
          description: Filter reservations by space type
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Search reservations by space name or description
        - name: page
          in: query
          description: Page number (1-based)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: A paginated list of all reservations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedReservations"

  /admin/reservations/{reservation-id}:
    parameters:
      - name: reservation-id
        in: path
        description: Reservation ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getAdminReservation
      summary: Retrieve a specific reservation (admin)
      tags:
        - reservations-admin-api
      responses:
        "200":
          description: A single reservation with full details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"

  /admin/reservations/{reservation-id}/access-code:
    parameters:
      - name: reservation-id
        in: path
        description: Reservation ID
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: regenerateAccessCode
      summary: Regenerate access code for a reservation
      tags:
        - reservations-admin-api
      responses:
        "200":
          description: New access code generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessCode"

    get:
      operationId: getAccessCode
      summary: Get access code for a reservation
      tags:
        - reservations-admin-api
      responses:
        "200":
          description: Access code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessCode"

  /admin/reservations/{reservation-id}/audit-logs:
    parameters:
      - name: reservation-id
        in: path
        description: Reservation ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getReservationAuditLogs
      summary: Get audit logs for a specific reservation
      tags:
        - reservations-admin-api
      responses:
        "200":
          description: Successfully retrieved audit logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReservationAuditLog"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/digital-locks:
    get:
      operationId: getDigitalLocks
      summary: Retrieve all digital locks
      tags:
        - digital-lock-admin-api
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
        - name: name
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/DigitalLockType"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/DigitalLockStatus"
      responses:
        "200":
          description: List of digital locks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DigitalLock"

    post:
      operationId: createDigitalLock
      summary: Create a new digital lock
      tags:
        - digital-lock-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DigitalLock"
      responses:
        "201":
          description: Digital lock created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DigitalLock"
        "400":
          $ref: "#/components/responses/BadRequest"

  /admin/digital-locks/{lock-id}:
    get:
      operationId: getDigitalLock
      summary: Retrieve a digital lock by ID
      tags:
        - digital-lock-admin-api
      parameters:
        - name: lock-id
          in: path
          required: true
          description: Digital lock ID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Digital lock details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DigitalLock"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      operationId: updateDigitalLock
      summary: Update a digital lock
      tags:
        - digital-lock-admin-api
      parameters:
        - name: lock-id
          in: path
          required: true
          description: Digital lock ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DigitalLock"
      responses:
        "200":
          description: Digital lock updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DigitalLock"
        "404":
          $ref: "#/components/responses/NotFound"
        "400":
          $ref: "#/components/responses/BadRequest"

    delete:
      operationId: deleteDigitalLock
      summary: Delete a digital lock
      tags:
        - digital-lock-admin-api
      parameters:
        - name: lock-id
          in: path
          required: true
          description: Digital lock ID
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Digital lock deleted successfully
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/digital-locks/{lock-id}/status:
    patch:
      operationId: updateDigitalLockStatus
      summary: Update digital lock status
      tags:
        - digital-lock-admin-api
      parameters:
        - name: lock-id
          in: path
          required: true
          description: Digital lock ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: "#/components/schemas/DigitalLockStatus"
      responses:
        "200":
          description: Digital lock status updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DigitalLock"
        "404":
          $ref: "#/components/responses/NotFound"
        "400":
[...]
