<tos-table
  [addActionRoute]="'/admin/users/add'"
  [addActionIcon]="'@tui.user'"
  [getDataFunction]="getDataFunction"
  [columns]="columns"
>
  <div add-action-content>
    {{ 'users.addUser' | translate }}
  </div>


  <ng-template #cardTemplate let-item="item">
    <div class="card-content">
      <div class="user-content">
        <div class="user-details">
          <div class="user-info">
            <tui-avatar
              [src]="item.username | tuiInitials"
              [style.background]="item.username | tuiAutoColor"
              size="s"
            ></tui-avatar>
            <h2>{{ item.username }}</h2>
          </div>

          <div class="user-details-top-right">
            <span class="email">
              <tui-icon icon="@tui.mail" />
              {{ item.email }}
            </span>
            @if (item.phone) {
              <span class="phone">
                <tui-icon icon="@tui.phone" />
                {{ item.phone }}
              </span>
            }
            <span class="flatNumber">
              <tui-icon icon="@tui.home" />
              {{ item.flatNumber }} - {{ item.streetAddress }}
            </span>
    
          </div>

        </div>
      </div>
    </div>
  </ng-template>


  <ng-template #itemActionsTemplate let-item="item">
    <div class="user-actions">
      
    <button
      (click)="setPassword(item)"
      appearance="outline"
      iconStart="@tui.key"
      size="s"
      tuiIconButton
      type="button"
      [style.border-radius.%]="100"
    >
      {{ 'users.password' | translate }}
    </button>
    <button
      [routerLink]="['/admin/users', item.id, 'edit']"
      appearance="outline"
      iconStart="@tui.pen"
      size="s"
      tuiIconButton
      type="button"
      [style.border-radius.%]="100"
    >
      {{ 'users.edit' | translate }}
    </button>
    <button
      (click)="deleteUser(item)"
      appearance="outline"
      iconStart="@tui.trash-2"
      size="s"
      tuiIconButton
      type="button"
      [style.border-radius.%]="100"
    >
      {{ 'users.delete' | translate }}
    </button>
    <button
      (click)="disableUser(item)"
      appearance="outline"
      iconStart="@tui.shield-ban"
      size="s"
      tuiIconButton
      type="button"
      [style.border-radius.%]="100"
      >
        {{ 'users.disable' | translate }}
      </button>
    </div>
  </ng-template>

  <ng-template #itemRowTemplate let-item="item" let-column="column">
    @if (column.key === "username") {
      <div class="user-info">
        <tui-avatar
          [src]="item.username | tuiInitials"
          [style.background]="item.username | tuiAutoColor"
          size="s"
        ></tui-avatar>
        <span class="username ellipsis">{{ item.username }}</span>
      </div>
    }
    @if (column.key === "type") {
      <tui-chip
        appearance="custom"
        [style.background-color]="('userTypes.' + item.type.toLowerCase()) | translate | tuiAutoColor"
        size="s"
      >
        {{ 'userTypes.' + item.type.toLowerCase() | translate }}
      </tui-chip>
    }
    @if (column.key === "createdAt") {
      <span class="ellipsis">{{ item.createdAt | date:'dd/MM/yyyy HH:mm' }}</span>
    }
    @if (column.key === "units") {
      <div class="units-list">
        @for (unit of getUnitsForUser(item.id); track unit.id) {
          <a [routerLink]="['/admin/units', unit.id]" class="unit-link">
            <tui-icon icon="@tui.home" size="s"></tui-icon>
            {{ unit.name }}
          </a>
        }
        @if (getUnitsForUser(item.id).length === 0) {
          <span class="no-units">{{ 'users.noUnits' | translate }}</span>
        }
      </div>
    }
  </ng-template>
</tos-table>

<ng-template
  let-observer
  [tuiDialogOptions]="{
    label: 'Set user ' + currentUser?.username + ' password',
    size: isMobile ? 'fullscreen' : 's',
  }"
  [(tuiDialog)]="openPasswordDialog"
>
  <form class="password-form" [formGroup]="passwordForm" (ngSubmit)="setUserPassword()">
    <tui-input formControlName="userPasswordControl" tuiAutoFocus> </tui-input>
    <p>
      <button class="password-form-button" tuiButton type="submit">{{ 'users.changePassword' | translate }}</button>
    </p>
  </form>
</ng-template>
