@use 'styles' as *;

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


form {
    background-color: var(--tos-background-base);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px;
    border: none;
    box-shadow: none !important;
    border-radius: 16px;
    margin-bottom: 40px;
}

/* Row and Column Flexbox layout */
.row {
    display: flex;
    gap: 16px;
}

.column {
    flex: 1;
}

/* Switch field styling */
.section {
    margin-bottom: 16px;
}

.switch-field {
    display: flex;
    align-items: center;
    gap: 12px;
}

.switch-label {
    font-size: 16px;
    color: var(--tos-text-01);
    cursor: pointer;
    user-select: none;
}