<div class="notifications-container">

    <form
        [formGroup]="notificationsForm"
        (ngSubmit)="onSave()"
    >
        <h1>
            {{ 'notifications.editTitle' | translate }}
        </h1>

        <div class="section">
            <div class="switch-field">
                <input
                    tuiSwitch
                    type="checkbox"
                    formControlName="isNotificationsEnabled"
                    name="notificationsToggle"
                >
                <label class="switch-label">
                    {{ 'notifications.enableNotifications' | translate }}
                </label>
            </div>
        </div>

        <div class="section">
            <div class="switch-field">
                <input
                    tuiSwitch
                    type="checkbox"
                    formControlName="isNewsletterEnabled"
                    name="newsletterToggle"
                >
                <label class="switch-label">
                    {{ 'notifications.enableNewsletters' | translate }}
                </label>
            </div>
        </div>

        <button
            appearance="accent"
            tuiButton
            size="l"
            type="submit"
        >
            {{ 'notifications.saveButton' | translate }}
        </button>
    </form>
</div>
