.application-container {
    display: inline-block;
    width: 60px;
    text-align: center;
    margin: 0 20px;

    img {
        width: 48px;
        height: 48px;
        object-fit: cover;
    }

    a {
        text-decoration: none !important;
        color: var(--tos-text-primary);
    }

    &.disabled {
        img {
            filter: grayscale(100%);
            opacity: 0.6;
        }

        .application-name {
            color: #999;
        }
    }
}

.link-button {
    all: unset;
    /* remove default button styles */
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.link-button[disabled] {
    cursor: not-allowed;
    color: gray;
    text-decoration: none;
}

.application-container:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.disabled-message {
    margin-bottom: 8px;
    color: #666;
}