<div
    class="application-container"
    [class.disabled]="application.disabled"
>
    <button
        type="button"
        [disabled]="application.disabled"
        (click)="!application.disabled && openLink(application.url)"
        class="link-button"
        tuiHintAppearance="dark"
        tuiHintDirection="bottom"
        [tuiHint]="tooltip"
    >
        <img
            [src]="application.icon"
            [alt]="application.name"
        >
        <div class="application-name">{{ application.name }}</div>
    </button>
    <ng-template #tooltip>
        <div
            *ngIf="application.disabled"
            class="disabled-message"
        >
            <strong>
                {{ 'applications.notAvailable' | translate }}
            </strong>
        </div>
        <div>{{ application.helpText }}</div>
    </ng-template>
</div>
