<div id="edit-user-container">
  <h2>{{ 'editUser.editTitle' | translate }}</h2>

  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <!-- Basic Information -->
    <h3>{{ 'editUser.basicInfo' | translate }}</h3>
    
    <div class="grid-two-columns form-field">
      <tui-textfield>
        <label tuiLabel>{{ 'editUser.username' | translate }}</label>
        <input formControlName="username" type="text" tuiTextfield />
      </tui-textfield>

      <tui-select
        tuiTextfieldSize="s"
        formControlName="type"
        name="type"
        [stringify]="stringifyUserType"
      >
        {{ 'editUser.userType' | translate }}
        <input
          placeholder="{{ 'editUser.userTypePlaceholder' | translate }}"
          tuiTextfieldLegacy
        />
        <tui-data-list-wrapper
          *tuiDataList
          [items]="userTypes"
          [itemContent]="userTypeContent"
        ></tui-data-list-wrapper>
      </tui-select>

      <ng-template #userTypeContent let-item>
        {{ 'user.type.' + item | translate }}
      </ng-template>
    </div>

    <div class="grid-two-columns form-field">
      <tui-textfield>
        <label tuiLabel>{{ 'editUser.firstName' | translate }}</label>
        <input formControlName="firstName" type="text" tuiTextfield />
      </tui-textfield>

      <tui-textfield>
        <label tuiLabel>{{ 'editUser.lastName' | translate }}</label>
        <input formControlName="lastName" type="text" tuiTextfield />
      </tui-textfield>
    </div>

    <tui-textfield class="form-field">
      <label tuiLabel>{{ 'editUser.email' | translate }}</label>
      <input formControlName="email" type="email" tuiTextfield />
    </tui-textfield>

    <tui-textfield class="form-field">
      <label tuiLabel>{{ 'editUser.phone' | translate }}</label>
      <input formControlName="phoneNumber" tuiInputPhone />
    </tui-textfield>

    @if (!userId) {
      <tui-textfield class="form-field">
        <label tuiLabel>{{ 'editUser.password' | translate }}</label>
        <input formControlName="password" type="password" tuiTextfield />
        <tui-icon tuiPassword />
      </tui-textfield>
    }

    <!-- Address Information -->
    <h3>{{ 'editUser.addressInfo' | translate }}</h3>
    
    <tui-textfield class="form-field">
      <label tuiLabel>{{ 'editUser.flatNumber' | translate }}</label>
      <input formControlName="flatNumber" type="text" tuiTextfield />
    </tui-textfield>

    <tui-textfield class="form-field">
      <label tuiLabel>{{ 'editUser.streetAddress' | translate }}</label>
      <input formControlName="streetAddress" type="text" tuiTextfield />
    </tui-textfield>

    <div class="grid-two-columns form-field">
      <tui-textfield>
        <label tuiLabel>{{ 'editUser.city' | translate }}</label>
        <input formControlName="city" type="text" tuiTextfield />
      </tui-textfield>

      <tui-textfield>
        <label tuiLabel>{{ 'editUser.postalCode' | translate }}</label>
        <input formControlName="postalCode" type="text" tuiTextfield />
      </tui-textfield>
    </div>

    <tui-textfield class="form-field">
      <label tuiLabel>{{ 'editUser.country' | translate }}</label>
      <input formControlName="country" type="text" tuiTextfield />
    </tui-textfield>

    <button
      type="submit"
      class="add-user"
      appearance="accent"
      size="m"
      tuiButton
    >
      {{ 'editUser.saveChanges' | translate }}
    </button>
    <button
      class="add-user"
      routerLink="/admin/users"
      appearance="secondary"
      size="m"
      tuiButton
    >
      {{ 'editUser.cancel' | translate }}
    </button>
  </form>
</div>
