<tui-root>
  <!-- Ignore this part, it is only here to position drawer inside the example block -->
  <div class="custom-portal"><ng-container #viewContainer /></div>
  <header tuiNavigationHeader>
    <span tuiNavigationLogo>
      <img id="logo" src="/logo-simple.png" />
          <span tuiFade>{{ appConfig.brandDisplayName }}</span>
    </span>
    <hr />


    <button iconStart="@tui.ellipsis" tuiIconButton type="button" tuiChevron tuiDropdownOpen [tuiDropdown]="settings">
      <ng-template #settings>
        <tui-data-list>
          <a
            routerLink="/hub"
            class="dropdown"
            tuiOption
          >
            <tui-icon icon="@tui.users" [style.width.px]="16" />
            {{ 'adminLayout.hubPortal' | translate }}
          </a>
          <a
            routerLink="/auth/sign-out"
            class="dropdown"
            tuiOption
          >
            <tui-icon icon="@tui.log-out" [style.width.px]="16" />
            {{ 'adminLayout.logOut' | translate }}
          </a>
        </tui-data-list>
      </ng-template>
    </button>
  </header>

  <nav id="menu" class="horizontal-menu">

    <a (click)="closeMore()" routerLink="/admin/infos/" routerLinkActive="active"
      appearance="secondary-grayscale" type="button" i18n="@@borrowItemButton">
      <tui-icon icon="@tui.info" />
      {{ 'adminLayout.infos' | translate }}
    </a>
    
    <a routerLink="/admin/users/" routerLinkActive="active" appearance="secondary-grayscale"
      type="button" i18n="@@borrowItemButton">
      <tui-icon icon="@tui.users" />
      {{ 'adminLayout.users' | translate }}
    </a>
    <a (click)="closeMore()" routerLink="/admin/pages/" routerLinkActive="active" appearance="secondary-grayscale"
      type="button" i18n="@@borrowItemButton">
      <tui-icon icon="@tui.book-open-text" />
      {{ 'adminLayout.pages' | translate }}
    </a>
    
    <a (click)="closeMore()" routerLink="/admin/newsletters/" routerLinkActive="active" appearance="secondary-grayscale"
      type="button" i18n="@@borrowItemButton">
      <tui-icon icon="@tui.mail" />
      {{ 'adminLayout.newsletters' | translate }}
    </a>
    
    <a (click)="closeMore()" routerLink="/admin/email-templates/" routerLinkActive="active" appearance="secondary-grayscale"
      type="button" i18n="@@borrowItemButton">
      <tui-icon icon="@tui.file-text" />
      {{ 'adminLayout.emailTemplates' | translate }}
    </a>



    @if (mobile) {
    <button tuiButton tuiChevron type="button" appearance="flat" class="more-button" [tuiDropdown]="dropdownContent"
      [tuiDropdownManual]="openMore" (click)="onClickMore()" (tuiActiveZoneChange)="onActiveZone($event)"
      (tuiObscured)="onObscured($event)">
      {{ 'adminLayout.more' | translate }}
      <ng-template #dropdownContent>
        <tui-data-list>
          <a
            (click)="closeMore()"
            routerLink="/admin/applications/"
            class="dropdown"
            tuiOption
          >
            <tui-icon icon="@tui.app-window-mac" [style.width.px]="16" />
            {{ 'adminLayout.applications' | translate }}
          </a>
          <a
            (click)="closeMore()"
            routerLink="/admin/security/"
            class="dropdown"
            tuiOption
          >
            <tui-icon icon="@tui.shield" [style.width.px]="16" />
            {{ 'adminLayout.security' | translate }}
          </a>
        </tui-data-list>
      </ng-template>
    </button>
    } @else {

    <a (click)="closeMore()" routerLink="/admin/applications/" routerLinkActive="active"
      appearance="secondary-grayscale" type="button" i18n="@@borrowItemButton">
      <tui-icon icon="@tui.app-window-mac" />
      {{ 'adminLayout.applications' | translate }}
    </a>
    <a routerLink="/admin/security/" routerLinkActive="active" appearance="secondary-grayscale"
    type="button" i18n="@@borrowItemButton">
    <tui-icon icon="@tui.shield" />
    {{ 'adminLayout.security' | translate }}
  </a>

    }
  </nav>


  <div [style.display]="'flex'">
    <main tuiNavigationMain>
      <router-outlet></router-outlet>
    </main>
  </div>

  <tos-footer></tos-footer>
</tui-root>