.applications-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.applications-info {
    margin-bottom: 1rem;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.applications-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.applications-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
}