<div class="applications-container">   
    <div class="applications-info" *ngIf="showNotification">

        <tui-notification size="l">
            <span>{{ 'applications.info' | translate }}</span>


            <button
            iconStart="@tui.x"
            tuiIconButton
            type="button"
            (click)="closeNotification()"
        >
            Close
        </button>
        </tui-notification>
    </div>
    
    <div class="applications-content">
        <div class="applications-list">
            @for (application of applications; track application.id) {
                <application [application]="application"></application>
            }
        </div>
        
    </div>
</div>