<div class="security-container">
    <h2>
        {{ 'security.registrationSettings' | translate }}
    </h2>

    <form
        [formGroup]="securityForm"
        (ngSubmit)="onSubmit()"
        class="security-form"
        autocomplete="off"
        data-form-type="other"
    >
        <!-- Hidden fields to confuse password managers -->
        <input
            type="text"
            style="display:none"
            tabindex="-1"
            autocomplete="off"
        >
        <input
            type="password"
            style="display:none"
            tabindex="-1"
            autocomplete="off"
        >

        <div class="form-section">
            <div class="switch-field">
                <input
                    tuiSwitch
                    type="checkbox"
                    formControlName="isRegistrationEnabled"
                    [showIcons]="true"
                >
                <label class="switch-label">
                    {{ 'security.enableUserRegistration' | translate }}
                </label>
            </div>
        </div>


        <div class="form-actions">
            <button
                tuiButton
                size="m"
                type="submit"
                appearance="accent"
                [disabled]="securityForm.invalid"
            >
                {{ 'security.save' | translate }}
            </button>
        </div>
    </form>
</div>
