<h2>{{ 'infos.settings' | translate }}</h2>

<tui-tabs
    [(activeItemIndex)]="activeTabIndex"
    class="tabs-container"
>
    <button
        tuiTab
        type="button"
        iconStart="@tui.settings"
        tuiTab
    >
        {{ 'infos.tabs.general.title' | translate }}
    </button>
    <button
        tuiTab
        type="button"
        iconStart="@tui.users"
        tuiTab
    >
        {{ 'infos.tabs.delegates.title' | translate }}
    </button>
    <button
        tuiTab
        type="button"
        iconStart="@tui.phone"
        tuiTab
    >
        {{ 'infos.tabs.contactNumbers.title' | translate }}
    </button>
</tui-tabs>

<form
    [formGroup]="editInfosForm"
    (ngSubmit)="onSubmit()"
>
    <!-- General Tab -->
    <div *ngIf="activeTabIndex === 0">
        <tui-notification
            class="tab-description"
            size="l"
        >
            {{ 'infos.tabs.general.description' | translate }}
        </tui-notification>

        <tui-input-date
            formControlName="nextAGDate"
            tuiTextfieldSize="l"
            class="form-field"
            [tuiTextfieldCleaner]="true"
        >
            {{ 'infos.nextAGDate' | translate }}
        </tui-input-date>
        <tui-textfield>
            <label tuiLabel>{{ 'infos.rulesUrl' | translate }}</label>
            <input
                formControlName="rulesUrl"
                type="text"
                tuiTextfield
            >
        </tui-textfield>
    </div>

    <!-- Delegates Tab -->
    <div
        *ngIf="activeTabIndex === 1"
        formArrayName="delegates"
    >
        <tui-notification
            class="tab-description"
            size="l"
        >
            {{ 'infos.tabs.delegates.description' | translate }}
        </tui-notification>

        <div
            *ngFor="let delegate of delegates.controls; let i = index"
            [formGroupName]="i"
            class="card"
        >
            <div class="card-header">
                <h4>
                    {{ 'infos.delegate.title' | translate }} {{i + 1}}
                </h4>
                <button
                    type="button"
                    tuiButton
                    size="s"
                    appearance="destructive"
                    (click)="removeDelegate(i)"
                    class="auto-margin-left"
                >
                    {{ 'infos.remove' | translate }}
                </button>
            </div>

            <div class="grid-two-columns">
                <tui-textfield>
                    <label tuiLabel>{{ 'infos.building' | translate }}</label>
                    <input
                        formControlName="building"
                        type="text"
                        tuiTextfield
                    >
                </tui-textfield>

                <tui-textfield>
                    <label tuiLabel>{{ 'infos.firstName' | translate }}</label>
                    <input
                        formControlName="firstName"
                        type="text"
                        tuiTextfield
                    >
                </tui-textfield>

                <tui-textfield>
                    <label tuiLabel>{{ 'infos.lastName' | translate }}</label>
                    <input
                        formControlName="lastName"
                        type="text"
                        tuiTextfield
                    >
                </tui-textfield>

                <tui-textfield>
                    <label tuiLabel>{{ 'infos.email' | translate }}</label>
                    <input
                        formControlName="email"
                        type="email"
                        tuiTextfield
                    >
                </tui-textfield>

                <tui-textfield class="full-width">
                    <label tuiLabel>{{ 'infos.matrixUser' | translate }}</label>
                    <input
                        formControlName="matrixUser"
                        type="text"
                        tuiTextfield
                    >
                </tui-textfield>
            </div>
        </div>

        <button
            type="button"
            tuiButton
            size="m"
            appearance="secondary"
            (click)="addDelegate()"
            class="form-field"
        >
            {{ 'infos.addDelegate' | translate }}
        </button>
    </div>

    <!-- Contact Numbers Tab -->
    <div *ngIf="activeTabIndex === 2">
        <tui-notification
            class="tab-description"
            size="l"
        >
            {{ 'infos.tabs.contactNumbers.description' | translate }}
        </tui-notification>

        <!-- Syndic Contacts Section -->
        <div class="contact-section">
            <h3>
                {{ 'infos.contactNumbers.syndic.title' | translate }}
            </h3>
            <div formArrayName="syndicContacts">
                <div
                    *ngFor="let contact of syndicContacts.controls; let i = index"
                    [formGroupName]="i"
                    class="card"
                >
                    <div class="card-header">
                        <h4>
                            {{ 'infos.contactNumbers.syndic.title' | translate }} {{i + 1}}
                        </h4>
                        <button
                            type="button"
                            tuiButton
                            size="s"
                            appearance="destructive"
                            (click)="removeSyndicContact(i)"
                            class="auto-margin-left"
                        >
                            {{ 'infos.remove' | translate }}
                        </button>
                    </div>

                    <div class="grid-two-columns">
                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.name' | translate }}
                            </label>
                            <input
                                formControlName="name"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.email' | translate }}
                            </label>
                            <input
                                formControlName="email"
                                type="email"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.phoneNumber' | translate }}
                            </label>
                            <input
                                formControlName="phoneNumber"
                                type="tel"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.officeHours' | translate }}
                            </label>
                            <input
                                formControlName="officeHours"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield class="full-width">
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.address' | translate }}
                            </label>
                            <input
                                formControlName="address"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.type' | translate }}
                            </label>
                            <input
                                formControlName="type"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.availability' | translate }}
                            </label>
                            <input
                                formControlName="availability"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.responseTime' | translate }}
                            </label>
                            <input
                                formControlName="responseTime"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield class="full-width">
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.description' | translate }}
                            </label>
                            <input
                                formControlName="description"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>
                    </div>
                </div>
            </div>
            <button
                type="button"
                tuiButton
                size="m"
                appearance="secondary"
                (click)="addSyndicContact()"
                class="form-field"
            >
                {{ 'infos.contactNumbers.addSyndic' | translate }}
            </button>
        </div>

        <!-- Emergency Contacts Section -->
        <div class="contact-section">
            <h3>
                {{ 'infos.contactNumbers.emergency.title' | translate }}
            </h3>
            <div formArrayName="emergencyContacts">
                <div
                    *ngFor="let contact of emergencyContacts.controls; let i = index"
                    [formGroupName]="i"
                    class="card"
                >
                    <div class="card-header">
                        <h4>
                            {{ 'infos.contactNumbers.emergency.title' | translate }} {{i + 1}}
                        </h4>
                        <button
                            type="button"
                            tuiButton
                            size="s"
                            appearance="destructive"
                            (click)="removeEmergencyContact(i)"
                            class="auto-margin-left"
                        >
                            {{ 'infos.remove' | translate }}
                        </button>
                    </div>

                    <div class="grid-two-columns">
                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.name' | translate }}
                            </label>
                            <input
                                formControlName="name"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.email' | translate }}
                            </label>
                            <input
                                formControlName="email"
                                type="email"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.phoneNumber' | translate }}
                            </label>
                            <input
                                formControlName="phoneNumber"
                                type="tel"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.officeHours' | translate }}
                            </label>
                            <input
                                formControlName="officeHours"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield class="full-width">
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.address' | translate }}
                            </label>
                            <input
                                formControlName="address"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.type' | translate }}
                            </label>
                            <input
                                formControlName="type"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.availability' | translate }}
                            </label>
                            <input
                                formControlName="availability"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.responseTime' | translate }}
                            </label>
                            <input
                                formControlName="responseTime"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield class="full-width">
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.description' | translate }}
                            </label>
                            <input
                                formControlName="description"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>
                    </div>
                </div>
            </div>
            <button
                type="button"
                tuiButton
                size="m"
                appearance="secondary"
                (click)="addEmergencyContact()"
                class="form-field"
            >
                {{ 'infos.contactNumbers.addEmergency' | translate }}
            </button>
        </div>

        <!-- Maintenance Contacts Section -->
        <div class="contact-section">
            <h3>
                {{ 'infos.contactNumbers.maintenance.title' | translate }}
            </h3>
            <div formArrayName="maintenanceContacts">
                <div
                    *ngFor="let contact of maintenanceContacts.controls; let i = index"
                    [formGroupName]="i"
                    class="card"
                >
                    <div class="card-header">
                        <h4>
                            {{ 'infos.contactNumbers.maintenance.title' | translate }} {{i + 1}}
                        </h4>
                        <button
                            type="button"
                            tuiButton
                            size="s"
                            appearance="destructive"
                            (click)="removeMaintenanceContact(i)"
                            class="auto-margin-left"
                        >
                            {{ 'infos.remove' | translate }}
                        </button>
                    </div>

                    <div class="grid-two-columns">
                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.name' | translate }}
                            </label>
                            <input
                                formControlName="name"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.email' | translate }}
                            </label>
                            <input
                                formControlName="email"
                                type="email"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.phoneNumber' | translate }}
                            </label>
                            <input
                                formControlName="phoneNumber"
                                type="tel"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.officeHours' | translate }}
                            </label>
                            <input
                                formControlName="officeHours"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield class="full-width">
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.address' | translate }}
                            </label>
                            <input
                                formControlName="address"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.type' | translate }}
                            </label>
                            <input
                                formControlName="type"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.availability' | translate }}
                            </label>
                            <input
                                formControlName="availability"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield>
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.responseTime' | translate }}
                            </label>
                            <input
                                formControlName="responseTime"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>

                        <tui-textfield class="full-width">
                            <label tuiLabel>
                                {{ 'infos.contactNumbers.description' | translate }}
                            </label>
                            <input
                                formControlName="description"
                                type="text"
                                tuiTextfield
                            >
                        </tui-textfield>
                    </div>
                </div>
            </div>
            <button
                type="button"
                tuiButton
                size="m"
                appearance="secondary"
                (click)="addMaintenanceContact()"
                class="form-field"
            >
                {{ 'infos.contactNumbers.addMaintenance' | translate }}
            </button>
        </div>
    </div>

    <div>
        <button
            tuiButton
            size="m"
            type="submit"
            appearance="accent"
        >
            {{ 'infos.save' | translate }}
        </button>
    </div>
</form>
